@font-face {
  font-family: MonumentExtended;
  src: url("fonts/PPMonumentExtended-Regular.otf") format("opentype");
}
@font-face {
  font-family: MonumentExtendedBold;
  src: url("fonts/PPMonumentExtended-Black.otf") format("opentype");
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: MonumentExtended;
}
h2 {
  display: block;
  overflow: hidden;
}
html {
  scroll-snap-type: y proximity;
}
body {
  background-color: #101010;
  overflow-x: hidden;
}
::selection {
  background-color: #fff;
  color: #1c1c1c;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}
section {
  position: relative;
  width: 88vw;
  height: 100vh;
  display: flex;
  padding-left: 12vw;
  align-items: flex-start;
  scroll-snap-align: start;
}
h1 {
  font-size: 80px;
  text-align: left;
  text-shadow: 0 0 24px #202020;
  line-height: 1.25em;
  font-family: MonumentExtendedBold;
}
p {
  margin-top: 1em;
  font-family: Poppins;
  font-size: 30px;
  max-width: 16em;
  pointer-events: none;
  color: lightgrey;
}
.bg {
  /* bottom layer/last layer of parent */
  position: absolute;
  z-index: -1;
}
.cover-parent {
  width: 100%;
  height: 100%;
}
section div.content {
  margin-top: 10vh;
}
/* hero section */
nav {
  height: 80px;
  display: flex;
  padding: 0 64px;
  margin-top: 16px;
  align-items: center;
  width: calc(100% - 128px);
  justify-content: space-between;
}
nav h2 {
  font-size: 28px;
}
nav .links {
  display: flex;
}
nav a {
  margin-left: 32px;
  padding-bottom: 0px;
  text-decoration: none;
  line-height: 24px;
  background-color: #101010;
  border-bottom: solid 1px transparent;
  border-radius: 6px;
  color: grey;

  transition: all 200ms;
}
nav a:hover {
  color: white;
  padding-bottom: 8px;
  border-bottom: solid 1px white;
}
section.hero {
  width: 100vw;
  /* nav height + nav-top margin */
  height: calc(100vh - 96px);
  padding: 0;
  align-items: center;
  justify-content: center;
  scroll-snap-align: none;
}
section.hero h1 {
  text-align: center;
  transition: transform 1600ms;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
  transform: translateX(0px);
}
section.hero > div.title:hover h1.right {
  transform: translateX(-76%);
}
section.hero > div.title:hover h1.left {
  transform: translateX(92%);
}
section.hero > div.img-container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero > div.img-container > img, 
section.hero > div.img-container > lottie-player {
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms;
}
/* press-feedback section */
section.press > lottie-player {
  width: 75%;
  margin-bottom: 4%;
  align-self: flex-end;
  height: min-content;
}
/* style section */
section.style > lottie-player {
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
  height: min-content;
  max-height: 96vh;
  width: 80%;
  align-self: flex-end;
  overflow: hidden;
  transition: opacity 200ms;
}
/* settings section */
section.settings > lottie-player {
  position: absolute;
  z-index: -1;
  right: 12%;
  max-width: 40%;
  max-height: 86%;
  align-self: center;
}
/* about section */
section.about {
  position: relative;
  height: min-content;
  padding-top: 8%;
  padding-left: 0;
  min-height: 100vh;
  scroll-snap-align: none;
  justify-content: space-between;
}
section.about > div.img-container {
  top: 0;
  width: 75%;
  height: 100vh;
  position: sticky;
  z-index: 10;
}
section.about > div.img-container > img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 92vw;
  pointer-events: none;
}
section.about > div.content {
  position: relative;
  z-index: 0;
  padding: 12% 0;
  width: 36%;
}
section.about > div.content > div.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.about img[alt=icon] {
  position: relative;
  width: 80px;
}
section.about h1 {
  font-size: 74px;
  margin-left: 0.72em;
  font-family: MonumentExtended;
}
section.about h2 {
  margin: 1em 0;
}
section.about > div.content p {
  margin-bottom: 1em;
  max-width: 88%;
  font-size: 24px;
  font-family: Poppins;
}
section.about div.download-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
  column-gap: 0.6em;
  row-gap: 0.6em;
}
section.about div.download-links > a {
  display: block;
  color: black;
  font-family: Poppins;
  text-decoration: none;
  padding: 0.4em 0.5em;
  border-radius: 8px;
  background-color: white;
  border: solid 1px white;
  transition: background-color 400ms, color 400ms;
}
section.about div.download-links > a:hover {
  color: white;
  background-color: transparent;
}
.b-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: solid 1px grey;
}
div.expansion-panel {
  border-bottom: solid 1px grey;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 200ms;
}
div.expansion-panel:hover {
  border-bottom-color: white;
}
div.expansion-panel > div.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  cursor: pointer;
}
div.expansion-panel > div.title > .icon {
  transition: transform 400ms;
}
div.expansion-panel > div.body {
  padding: 0 28px;
  overflow: hidden;
  transition: all 400ms;
}
div.expansion-panel > div.body.open {
  transition-duration: 800ms;
  max-height: 128px;
  padding-bottom: 2em;
  opacity: 1;
}
div.expansion-panel > div.body.close {
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
}
div.expansion-panel > div.body > table th {
  width: 56%;
  color: grey;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  font-family: Poppins;
}
div.expansion-panel > div.body > table td {
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: lighter;
}
/* animations */
.fade-up[data-scroll] {
  transition-property: all;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
}
.fade-up[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}
.fade-up[data-scroll="out"] {
  opacity: 0;
  transform: translateY(80px);
}
.fade-r[data-scroll] {
  transition-property: all;
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
}
.fade-r[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
.fade-r[data-scroll="out"] {
  opacity: 0;
  transform: translateX(80px);
}
.fade-l[data-scroll] {
  transition-property: all;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
}
.fade-l[data-scroll="in"] {
  opacity: 1;
  letter-spacing: 0;
  transform: translateX(0);
}
.fade-l[data-scroll="out"] {
  opacity: 0;
  letter-spacing: -0.5em;
  transform: translateX(-80px);
}
.t-shorter-delay {
  transition-delay: 200ms;
}
.t-short-delay {
  transition-delay: 300ms;
}
.t-long-delay {
  transition-delay: 400ms;
}
.t-longer-delay {
  transition-delay: 600ms;
}
.t-verylong-delay {
  transition-delay: 800ms;
}