@font-face {
    font-family: MonumentExtended;
    src: url("MonumentExtended-Regular.otf") format("opentype");
}
@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: MonumentExtended;
}
body {
    background-color: #101010;
    overflow-x: hidden;
}
section {
    position: relative;
    width: 88vw;
    height: 100vh;
    display: flex;
    padding-left: 12vw;  
    align-items: flex-start;
}
h1 {
    font-size: 80px;
    text-align: left;
    text-shadow: 0 0 24px #202020;
    line-height: 1.25em;
}
p {
    margin-top: 1em;
    font-family: Poppins;
    font-size: 30px;
    max-width: 16em;
}
img {
    /* bottom layer/last layer of parent */
    position: absolute;
    z-index: -1;
}
section div.content {
    margin-top: 10vh;
}
/* hero section */
nav {
    height: 80px;
    display: flex;
    padding: 0 64px;
    margin-top: 16px;
    align-items: center;
    width: calc(100% - 128px);
    justify-content: space-between;
}
nav h2 {
    font-size: 28px;
}
nav a {
    margin-left: 32px;
    padding-bottom: 0px;
    text-decoration: none;
    background-color: #101010;
    border-bottom: solid 1px transparent;
    border-radius: 6px;
    color: grey;

    transition: all 200ms;
}
nav a:hover {
    color: white;
    padding-bottom: 8px;
    border-bottom: solid 1px white;
}
.hero {
    width: 100vw;
    /* nav height + nav-top margin */
    height: calc(100vh - 96px);
    padding: 0;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    text-align: center;
    transition: transform 800ms;
    transition-timing-function: ease-out;
    transform: translateX(0px);
}
.hero div:hover h1.right {
    transform: translateX(-80%);
}
.hero div:hover h1.left {
    transform: translateX(92%);
}
.hero img {
    width: 68%;
}
/* press-feedback section */
section.press img {
    width: 75%;
    transform: scaleX(-1);
}
/* style section */
section.style img {
    right: 0;
    max-height: 100vh;
    max-width: 60%;
}