@font-face {
  font-family: PPMonumentExtendedBold;
  src: url("./keyviz/fonts/PPMonumentExtended-Black.otf");
}
@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: PPMonumentExtendedBold;
}
::selection {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 80px 0px;
  position: relative;
  font-size: 64px;
}
.container {
  width: 80vw;
  padding: 0px 10vw;
  display: flex;
  column-gap: 80px;
  row-gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}
.card {
  position: relative;
  width: 25vw;
  min-width: 400px;
  height: 600px;

  border: solid 1px black;
}
.card .visual {
  width: 100%;
  height: 65%;
}
.card .visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content {
  border-top: solid 1px black;
  padding: 20px;
}
.card .content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.card .content p {
  font-size: 16px;
  font-family: Poppins;
}
.card .content a  {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.card .content a img {
  width: 100%;
  height: 100%;
  transform: rotateZ(0);
  transition: transform 200ms;
}
.card .content a img:hover {
  transform: rotateZ(-45deg);
}
@media (max-width: 888px) {
  h1 { font-size: 32px; }
}